.goodsCon {
  width: 290px;
  height: 320px;
  background-color: skyblue;
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 18px;
  position: relative;
}
.goodsCon:nth-child(1) {
  margin-left: 100px;
}
.icon {
  width: 200px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
  transition: all 0.3s;
  text-align: center;
  font-size: 35px;
  color: yellow;
}
.icon:hover {
  top: 20px;
}

.info {
  position: absolute;
  top: 210px;
  left: 20px;
  color: #e01222;
  font-size: 14px;
}

.priceCon {
  width: 290px;
  height: 100px;
  position: absolute;
  border-top: 1px solid #eeeeee;
  top: 140px;
}
.history {
  position: absolute;
  left: 20px;
  top: 6px;
  padding: 0 8px;
  height: 16px;
  line-height: 16px;
  background-color: #e6e6e6;
  font-size: 10px;
  color: #999;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.price {
  font-size: 30px;
  color: #e01222;
  display: inline-block;
  margin-top: 25px;
  margin-left: 20px;
}
.price::first-letter {
  font-size: 30px;
}
.oldPrice {
  font-size: 30px;
  color: #999999;
  text-decoration: line-through;
  display: inline-block;
  margin-left: 6px;
}

.button {
  color: #fff;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  display: block;
  position: absolute;
  top: 220px;
  left: 35%;
  bottom: 0;
  margin: auto 0;
  width: 100px;
  text-align: center;
  background: #df0021;
  text-decoration: none;
  border-radius: 8px;
}